.details {
    padding: 92px 20px 0;

    @include onTablet {
        padding: 120px 72px 0;
    }

    @include onDesktop {
        padding: 144px 120px 0;
    }

    &__title {
        margin: 0;
        padding-bottom: 48px;
        @include text(500, 32px, 32px, -1.5px);
        text-align: center;
        color: $color-white;

        @include onTablet {
            @include text(500, 48px, 100%, -1.5px);
        }

        @include onDesktop {
            @include text(500, 64px, 100%, -1.5px);
        }
    }

    &__item {

        &--padding {
            padding-bottom: 40px;

            @include onTablet {
                padding-bottom: 48px;
            }
        }
    }

    &__container {
        margin-bottom: 16px;
        display: flex;
        gap: 20px;

        @include onTablet {
            grid-column: 1 / -1;
        }
    }

    &__link {
        display: flex;
        margin-bottom: 16px;

        & img {
          transition: transform 0.3s ease;
        }

        &:hover img {
            transform: scale(1.05);
        }
        
        @include onTablet {
            &--wide {
                grid-column: span 4;
                margin-bottom: 16px;
            }
            &--narrow {
                grid-column: span 2;
                margin-bottom: 16px;
            }
        }

        @include onDesktop {
            &--wide {
                grid-column: span 8;
            }
            &--narrow {
                grid-column: span 4;
            }
        }
    }

    &__link img {
      object-fit: cover;
      width: 100%;
      display: block;
    }

    &__name {
        margin: 0 0 8px;
        @include text(700, 24px, 140%, 0px);
        color: $color-white;
        grid-column: 1 / -1;

        @include onTablet {
            grid-column: 1 / -1;
        }
    }

    &__description {
        margin: 0;
        @include text(400, 16px, 140%, 0px);
        color: $color-white;
        grid-column: 1 / -1;

        @include onTablet {
            grid-column: 1 /-1;
        }

        @include onDesktop {
            grid-column: 1/9;
        }
    }

    &__explore {
    
        @include onTablet {
            grid-column: 2/-2;
        }

        @include onDesktop {
            grid-column: 5/9;
        }
    }
}